*.pytorch
*relational_grad_connection*.csv
*word_line*.txt
__pycache__/
__pycache__
.ipynb_checkpoints
.DS_Store
.vscode/
.ipynb_checkpoints
.data
*.zip
.data
git_find_big.sh
SentEval/
glove.840B.300d.txt
__pycache__/
.vscode/
glove.840B.300d.zip
*zip
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
test

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
!/.gitignore